.Logic {
	background-color: #ffffff;
	width: 100vw;
	height: 100vh;
}
.container {
	display: grid;
	grid-template-columns:  20vw 20vw 20vw;
	margin-left: 10vw;
	grid-gap: 0.5vw;
	height: 40vh;
	
	.item {
		:hover {
				background: #817a7a1b;
		}
		position: relative;
		top:7vh;
		width: 50vw;
		margin-left: 10vw;
		h1{
			color: rgba(122, 118, 118, 0.779);
			font-size: 1vw;
			width: 15vw;
			text-transform: uppercase;
			text-align: center;
		}
		img {
			width: 15vw;
			height: 20vh;
			border-radius: 15px;
			box-shadow: 5px 0 15px rgba(163, 165, 165, 0.489);
			
			&:hover {
				box-shadow: 2px 0 15px rgba(0, 0, 0, 0.591)
			}
		}
	}
}
.gameInputs {
	width: 100vw;
		input, textarea {
			position: absolute;
			margin-top: 0vh;
			width: 20vw;
			margin-left: 30vw;
			height: 5vh;
			font-size: 1vw;
			border-style: solid;
			border-color: rgba(160, 166, 164, 0.601);
			border-radius: 5px;
			outline: none;
			text-align: center;	
			vertical-align: middle;
			&:focus {
				border: 2px solid rgb(77, 77, 84);
			}
		}
		button {
			position: absolute;
			background: linear-gradient(90deg, #31CF75 0%, #2DBBC6 100%);
			box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
			border-radius: 5px;
			border: 0;
			margin-top: 0vh;
			color:rgb(255, 255, 255);
			width: 15vw;
			height: 5.3vh;
			margin-left: 54vw;
			font-size: 1vw;
			button {
				width: 5vw;
				height: 2vw;
				
				&.words {
					width: 28vw;
				}
				&:hover {
					background: linear-gradient(90deg, #2d9b5d 0%, #2b7378 100%);
					color:rgb(242, 245, 242);
				}
			}

		}
}
.result div {
	margin: 9vh 0 0 15vw;
	color: rgb(75, 73, 73);
	width: 70vw;
    height: 20vh;
	font-size: 30px;
	overflow: auto;
	text-align: center;
	scrollbar-width: none;		
}

/* RESPONSIVE DESIGN FOR MOBILE */


/* HIGH RESOLUTION such as  IPHONE 5, IPHONE SE 2016  until IPHONE 13Pro until mid range */


/****** PORTRAIT *************/
@media  only screen 
and (min-width : 320px)
and (max-width : 568px) 
and (orientation: portrait)   {
	.container {
		grid-template-columns:  25vw 25vw 25vw;
		margin-left: 0vw;
		grid-gap: 2vw;
		height: 40vh;
		.item {
			h1 {
				font-size: 2.2vw;
				width: 25vw;
			}
			img {
				width: 25vw;
				height: 25vh;
			}
	}
	}
	.gameInputs {
		input, textarea {
			width: 25vw;
			margin-left: 22vw;
			height: 4vh;
			font-size: 2vw;
			border: 0.5 rgb(178, 174, 174);
		}
		button {
			width: 25vw;
			height: 4.5vh;
			font-size: 2vw;
		}
	}
	.result div{
		font-size: 20px;
		height: 30vh;
	}
  }

/****** LANDSCAPE *************/

@media  only screen 
and (min-width : 320px)
and (max-width : 568px)  
and (orientation: landscape)  {

}


/* TABLES RESOLUTIONS  Tables, Galaxy Flod2 etc.. */ 

/****** PORTRAIT *************/

@media  only screen 
and (min-width : 569px)
and (max-width : 1024px) 
and (orientation: portrait)  {
	.container {
		grid-template-columns:  25vw 25vw 25vw;
		margin-left: 0vw;
		grid-gap: 2vw;
		height: 40vh;
		.item {
			h1 {
				font-size: 2.2vw;
				width: 25vw;
			}
			img {
				width: 25vw;
				height: 25vh;
			}
	}
	}
	.gameInputs {
		input, textarea {
			position: absolute;;
			width: 25vw;
			margin-left: 22vw;
			margin-top: 0px;
			height: 7vh;
			font-size: 2vw;
		}
		button {
			position: absolute;
			width: 25vw;
			height: 7.4vh;
			font-size: 2vw;
		}
	}
	.result div{
		font-size: 25px;
		height: 30vh;
		margin-top: 15vh;
	}
}

/****** LANDSCAPE *************/

@media  only screen 
and (min-width : 569px)
and (max-width : 1024px) 
and (orientation: landscape)  {

}
