.Logic {
	background-color: #F9F9F9;
	width: 100vw;
	height: 100vh;
	position: relative;
}
.container {
	display:grid;
	padding: 20px;
	grid-template-columns: 30vw 33vw 30vw;
	height: 80vh;
	top: 12vh;
	grid-gap: 0.5vw;
		& h1{
		color: rgba(122, 118, 118, 0.779);
	}
	 .item{
		position: relative;
		padding: 5px;
		top:10vh;
		text-align: center;
		height: 35%;
		border-style: solid;
		border-color: rgb(193, 197, 196);
		border-radius: 5px;
		box-shadow: 0px 9px 20px #888888;

		& input {
			top: 90px;
			width: 150px;
			height: 70px;
			font-size: 20px;
			border-style: solid;
			border-color: rgb(160, 166, 164);
			border-radius: 5px;
			outline: none;
			&:focus {
				border: 2px solid rgb(77, 77, 84);
			}
		}
		& textarea{
			top: 90px;
			width: 400px;
			height: 70px;
			font-size: 20px;
			border-style: solid;
			border-color: rgb(160, 166, 164);
			border-radius: 5px;
			outline: none;
			&:focus {
				border: 2px solid rgb(77, 77, 84);
			}
		}
		& button {
			background: linear-gradient(90deg, #31CF75 0%, #2DBBC6 100%);
			box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
			border-radius: 5px;
			border:0;
			color:rgb(255, 255, 255);
			top: 130px;
			width: 155px;
			height: 30px;
			&.words {
				top: 160px;
				width: 405px;
			}
			&:hover {
				background: linear-gradient(90deg, #2d9b5d 0%, #2b7378 100%);
				color:rgb(242, 245, 242);
			}
		}
	}
}
.result div{
	position: fixed;
	top: 60%;
	left: 50%;
	align-items: center;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: rgb(75, 73, 73);
	width: 90vw;
	max-height: 400px;
	font-size: 30px;
    overflow-wrap:break-word;
	overflow-y: auto;
	text-align: center;
	

    

		
}
// @media (min-width: 768px) {

// 	// I need to work on responsive design, last topic
// }