.Logic {
	background-color: #F9F9F9;
	width: 100vw;
	height: 100vh;
	position: relative;
}
.container {
	display:grid;
	padding: 20px;
	grid-template-columns: 30vw 33vw 30vw;
	height: 80vh;
	top: 12vh;
	grid-gap: 0.5vw;
		& h1{
		color: rgba(122, 118, 118, 0.779);
		font-size: 2vw;
	}
	 .item{
		position: relative;
		padding: 5px;
		top:10vh;
		text-align: center;
		height: 15vw;
		border-style: solid;
		border-color: rgb(193, 197, 196);
		border-radius: 5px;
		box-shadow: 0px 9px 20px #888888;

		& input {
			width: 11vw;
			height: 5vw;
			font-size: 1vw;
			border-style: solid;
			border-color: rgb(160, 166, 164);
			border-radius: 5px;
			outline: none;
			text-align: center;
			&:focus {
				border: 2px solid rgb(77, 77, 84);
			}
		}
		& textarea{
			width: 28vw;
			height: 6vw;
			font-size: 1vw;
			border-style: solid;
			border-color: rgb(160, 166, 164);
			border-radius: 5px;
			outline: none;
			text-align: center;
			&:focus {
				border: 2px solid rgb(77, 77, 84);
			}
		}
		& button {
			background: linear-gradient(90deg, #31CF75 0%, #2DBBC6 100%);
			box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
			border-radius: 5px;
			border:0;
			color:rgb(255, 255, 255);
			width: 170px;
			height: 2vw;
			margin-top: 0.2vw;
			font-size: 1vw;
			&.words {
				width: 28vw;
			}
			&:hover {
				background: linear-gradient(90deg, #2d9b5d 0%, #2b7378 100%);
				color:rgb(242, 245, 242);
			}
		}
	}
}
.result div{
	top: 60%;
	transform: translate(20%, -118%);
	color: rgb(75, 73, 73);
	width: 70vw;
    height: 400px;
	font-size: 30px;
	overflow: auto;
	text-align: justify;
	scrollbar-width: none;
	
	

    

		
}
/* RESPONSIVE DESIGN FOR MOBILE */

/* HIGH RESOLUTION such as IPHONE 13Pro until mid range */


/****** PORTRAIT *************/
@media  only screen 
and (min-width : 320px)
and (max-width : 568px) 
and (orientation: portrait)   {
	.container {
		display: list-item;
		padding: 0px;
		width: 150px;
		margin-left: 30%;
		
		h1 {
			font-size: 10px;
			text-transform: uppercase;
			padding: 0px;
		}
		.item {
			box-shadow: 1px 1px 5px rgba(136, 136, 136, 0.937);
			padding: 0px;
			margin-top: 10px;
			height: 10vh;
			border-radius: 10px;
			

			input {
				width: 110px;
				font-size: 10px;
			}
			textarea {
				font-size: 10px;
			}

			button {
				width: 110px;
				background: linear-gradient(90deg, rgb(50 84 85 / 82%) 0%, #00c7d6bf 100%);
				height: 5vw;
				font-size: 8px;
				margin-top: 5px;

				&:hover {
					background: linear-gradient(90deg, rgba(37, 75, 103, 0.992) 0%, #16a9b482 100%);
					color: rgb(32, 31, 31)
				}
			}
		}
		
	}
	.result div{
		transform: translate(20%, -75%);
		font-size: 20px;
	}

  }

/****** LANDSCAPE *************/

@media  only screen 
and (min-device-width: 410px) 
and (orientation: landscape)  {

}


/* TABLES RESOLUTIONS  Tables, Galaxy Flod2 etc.. */ 

/****** PORTRAIT *************/

@media  only screen 
and (min-width : 569px)
and (max-width : 1024px) 
and (orientation: portrait)  {
	.container {
		display: list-item;
		padding: 0px;
		width: 150px;
		margin-left: 30%;
		
		h1 {
			font-size: 10px;
			text-transform: uppercase;
			padding: 0px;
		}
		.item {
			box-shadow: 1px 1px 5px rgba(136, 136, 136, 0.937);
			padding: 0px;
			margin-top: 10px;
			height: 85px;
			border-radius: 10px;
			

			input {
				width: 110px;
				font-size: 10px;
			}
			textarea {
				font-size: 10px;
			}

			button {
				width: 110px;
				background: linear-gradient(90deg, rgb(50 84 85 / 82%) 0%, #00c7d6bf 100%);
				height: 5vw;
				font-size: 8px;
				margin-top: 5px;

				&:hover {
					background: linear-gradient(90deg, rgba(37, 75, 103, 0.992) 0%, #16a9b482 100%);
					color: rgb(32, 31, 31)
				}
			}
		}
		
	}
	.result div{
		transform: translate(20%, -70%);
		font-size: 20px;
		height: 300px;
	}
}

/****** LANDSCAPE *************/

@media  only screen 
and (min-width : 569px)
and (max-width : 1024px) 
and (orientation: landscape)  {

}
